<div id="app">
  <navbar></navbar>
  <div class="container">
    <router-view></router-view>
    <%= link_to "管理画面", vue_admin.admin_index_path %>
  </div>
 </div>

  <%= javascript_pack_tag 'todo' %>